{{> nav/nav-block}}
<div class="chart-container" style="position: relative; height:70vh; width:100vw; overflow: auto">
<canvas id="myChart" width="150" height="150"></canvas>
</div>
    {{!-- <div>
        <div class="mb-3 message">Welcome {{user.firstName}}</div>
      {{else}}
        <div class="mb-3 message">Please Login to view your mood .</div>
        <a href="#" id="login-btn"> <button id="log" type="btn" class="btn">Login</button></a>
      {{/if}}
      <h5 class="text-danger" id="login-err-msg"></h5>
    </div> --}}


<script src="/assets/js/charts.js"></script>