{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="text-center header-wrap" align="center">
    <h1 class="main-logo">Moodiful</h1>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        <div class="mb-3 message">You are logged in as {{user.firstName}}</div>
        <a href="/logout"> <button id="log" type="btn" class="btn mt">Logout</button></a>
      {{else}}
        <div class="mb-3 message">Please Log in to enter your mood today.</div>
        <a href="#" id="login-btn"> <button id="log" type="btn" class="btn">Login</button></a>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}
