{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="container"> 
    <h1 class="text-center">Moodiful</h1>
    <div class = "login">
      {{#if isloggedin}}
        <div class="mb-3">You are logged in as {{user.firstName}}</div>
        <a href="/logout"> <button type="btn" class="btn mt">Logout</button></a>
      {{else}}
        <div class="mb-3"><p>Please Log in to enter your mood today.</p></div>
        <button>Login</button>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}
