{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap pos" align="center">
    <p class="lead">Welcome to <strong>Moodiful!</strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        <div class="mb-3">You are logged in as {{user.firstName}}</div>
        <a href="/logout"> <button type="btn" class="btn mt">Logout</button></a>
      {{else}}
        <div class="mb-3"><p>Please Log in to enter your mood today.</p></div>
        <button>Login</button>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}