{{> nav/nav-block}}

<div class="container box">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{msg}}</h1>
        <h3>How are you doing today?</h3>
        <p>Drag the slider to express your mood.</p>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6">
    <p class="label-left">Sad</p>
  </div>
  <div class="col-sm-6">
    <p class="label-right">Happy</p>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
       <div class="mb-3" id="slider1">
        <div id="custom-handle1" class="ui-slider-handle bar"></div>
        </div>
    </div>
  </div>
    <div class="row">
  <div class="col-sm-6">
    <p class="label-left">Tired</p>
  </div>
  <div class="col-sm-6">
    <p class="label-right">Alert</p>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
       <div class="mb-3" id="slider2">
        <div id="custom-handle2" class="ui-slider-handle bar"></div>
        </div>
    </div>
  </div>
    <div class="row">
  <div class="col-sm-6">
    <p class="label-left">Stressed</p>
  </div>
  <div class="col-sm-6">
    <p class="label-right">Relaxed</p>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
       <div class="mb-3" id="slider3">
        <div id="custom-handle3" class="ui-slider-handle bar"></div>
        </div>
        <button type="submit" class="btn btn-dark btn-block mt-5" id="submit-btn" data-toggle="modal" data-target="#submit-modal">Submit</button>
    </div>
  </div>
  
</div>

{{> modal/login-block}}
{{> modal/submit-block}}

<script src="/assets/js/mood.js"></script>
