<div class="modal fade" id="submit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">Your mood is saved!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
        <label class="input-group-text" for="question">Have you eaten today?</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="excercise" id="Radio1" value="1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exercise" id="Radio1" value="0">
        <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
        
        </div>
       
        <div class="input-group mb-3">
        <label class="input-group-text" for="question">Did you go to bed on time?</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="excercise" id="Radio2" value="1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exercise" id="Radio2" value="0">
        <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
        </div>
      
       <div class="input-group mb-3">
        <label class="input-group-text" for="question">Did you shower today?</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="excercise" id="Radio3" value="1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exercise" id="Radio3" value="0">
        <label class="form-check-label" for="inlineRadio2">No</label>
        </div>        
        </div>
     
        <div class="input-group mb-3">
        <label class="input-group-text" for="question">Did you go to work today?</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="excercise" id="Radio4" value="1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exercise" id="Radio4" value="0">
        <label class="form-check-label" for="inlineRadio2">No</label>
        </div>        
        </div>
        
        <div class="input-group mb-3">
        <label class="input-group-text" for="question">Did you excercise today?</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="excercise" id="Radio5" value="1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exercise" id="Radio5" value="0">
        <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <a href="/charts" id="chart-link"> <button id="chart-btn" type="btn" class="btn">Mood Charts</button></a>
      </div>
    </div>
  </div>
</div>