body, html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: url("../image/lighthouse.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* dashboard.handlebars */

.main-logo {
  color: #FFFFFF;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-family: 'Galada', cursive;
  font-size: 72px;
}

#log {
  left: 49%;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 70%;
}

.btn {
  color: white;
  background-color: rgb(68, 13, 68);
  border: 1px solid white;
}

.message {
  color: #ffffff;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 48%;
  width: 100%;
}


#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: white !important;
}

hr {
  background-color: rgb(131, 81, 131);
}

/* modal-login-block.handlebars */

.modal {
  color: black;
}

/* nav-block.handlebars */

a {
  color: black;
}

.moodi-logo {
  font-family: 'Galada', cursive;
  font-size: 27px;
  color: black;
}

/* example.handlebars */

#custom-handle1, #custom-handle2, #custom-handle3{
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  color: rgb(44, 4, 44)
}

/* register.handlebars */

#go-home {
  width: auto;
  height: 65px;
 }

/* .container {
  padding-bottom: 2%;
  margin-top: 10%;
  height:100%;
  background-color: rgb(131, 81, 131);
  height: 100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
} */

/* profile.handlebars */

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

[data-useremail="true"] {
  color: white !important;
}

/* example-detail.handlebars */

.card-body {
  color: #444;
}


[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap{
  text-transform: capitalize;
}


.list-group-item {
  line-height: 2.5;
}


.navvy {
  background-color: rgb(44, 4, 44);
}

.moodiful {
  font-size: 40px;
  color: rgb(131, 81, 131);
}


