body, html {
  height: 100%;
}

body {
  min-height: 100%;
  background-attachment: fixed;
  background-image: url("../image/lighthouse.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* dashboard.handlebars */
.main-logo {
  color: #ffffff9d;
  left: 0;
  line-height: 200px;
  margin-top: 100px;
  position: relative;
  text-align: center;
  top: 30px;
  width: 100%;
  font-family: 'Galada', cursive;
  font-size: 72px;
}

#log {
  margin-top: 10px;
  position: relative;
  text-align: center;
  top: 10px;
}

.btn {
  color: white;
  background-color: rgb(68, 13, 68);
  border: 1px solid white;
}

.btn:hover {
  background-color:rgb(46, 5, 46);
  border: 1px solid white;
}

.message {
  color: #ffffff;
  margin-top: 10px;
  position: relative;
  text-align: center;
  top: -30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#update-err-msg,
#create-err-msg {
  color: white !important;
}

hr {
  background-color: rgb(131, 81, 131);
}

#login-err-msg {
  margin-top: 20px;
  position: relative;
  text-align: center;
  top: 80%;
}

/* modal-login-block.handlebars */
.modal {
  color: black;
}

/* nav-block.handlebars */
a {
  color: black;
}

.moodi-logo {
  font-family: 'Galada', cursive;
  font-size: 27px;
  color: black;
}

.navvy {
  min-width: 100%;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misc9-kut7315-chim_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=33a5bc106fdaa31b6133067b2747e480");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link:hover {
  color: rgb(131, 81, 131);
}

.moodiful {
  font-size: 40px;
  color: rgb(131, 81, 131);
}

/* mood.handlebars */

.text {
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(68, 13, 68);
}

#custom-handle1, #custom-handle2, #custom-handle3{
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
 
}

.box {
  padding: 30px;
  margin-top: 150px;
  text-align: center;
  background-color: #ffffff9d;
}

.mood-btn {
  text-align: center;
}

.label-left {
  float: left;
  font-size: 23px;
  font-style: oblique;
  color: rgb(131, 81, 131);
}

.label-right {
  float: right;
  font-size: 23px;
  font-style: oblique;
  color: rgb(131, 81, 131);
}

#submit-btn {
  justify-content: center;
}

/* register.handlebars */
#go-home {
  width: auto;
  height: 65px;
}

.register-wrapper {
padding: 20px;
margin-top: 130px;
text-align: center;
background-color: #ffffff9d;
}

/* profile.handlebars */
#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

[data-useremail="true"] {
  color: white !important;
}

.profile-wrapper {
  padding: 20px;
  margin-top: 125px;
  text-align: center;
  background-color: #ffffff9d;
}

/* example-detail.handlebars */
.card-body {
  color: #444;
}

[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap{
  text-transform: capitalize;
}

.list-group-item {
  line-height: 2.5;
}

/* charts.handlebars */
.chart-container {
  padding: 20px;
  margin-top: 80px;
  text-align: center;
  background-color: #ffffffc7;
}

#q1, #q2, #q3, #q4, #q5 {
  float: right;
  margin-right: 25%;
}

.moodbarbox {
  width: 60%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  font-style: oblique;
  color: rgb(131, 81, 131);
}

#slider1, #slider2, #slider3 {
  border: 1px solid white;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-eye-037_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=78b40ffdfd3922c257257b5c775ffeb6");
}

#slider1:active, #slider2:active, #slider3:active {
  background-color: rgb(131, 81, 131);
}

.ui-slider-handle {
  border: 1px solid white;
}

.ui-slider-handle:hover {
  border: 1px solid white;
  transition: all .2s ease-in-out;
  transform: scale(1.2); 
  background-color: white;
}

.ui-slider-handle:active {
  border: 1px solid white;
  transition: all .2s ease-in-out;
  transform: scale(1.2); 
  color: white;
  background-color: rgb(46, 5, 46);
}
